/****** Script for SelectTopNRows command from SSMS  ******/

SELECT a.[Servicing Agent]	AS 'Mã đại lý phục vụ'
	  ,c.[Agent_Name]		AS 'Tên đại lý phục vụ'
	  ,c.[Grade]			AS 'Chức vụ'
	  ,c.[Date_Appointed]	AS 'Ngày gia nhập'
	  ,c.[Agent_Status]		AS 'Trình trạng hoạt động'
	  ,a.[Policy No]		AS 'Số hợp đồng'
      ,a.[Issued Date]		AS 'Ngày phát hành'
	  ,a.[Policy Status]	AS 'Trình trạng hợp đồng'
	  ,IIF(a.[Policy Status]='IF', a.[AFYP] , 0) AS Gross_AFYP
	  ,IIF(a.[Policy Status]='IF', a.[FYP]  , 0) AS Gross_FYP
	  ,IIF(a.[Policy Status]='DC' OR a.[Policy Status] = 'FL' , -a.[AFYP] , 0) AS Cancel_AFYP
	  ,IIF(a.[Policy Status]='DC' OR a.[Policy Status] = 'FL' , -a.[FYP]  , 0) AS Cancel_FYP
	  ,a.[Issuing Agent]
	  ,b.[Agent_Name]	  
FROM [PowerBI].[dbo].[DP_TAGENTPREMIUM_TEST] a 
		JOIN [dbo].[Main_AGENT_INFO_DA] b 
			ON a.[Issuing Agent] = b.[Agent_Number]
				JOIN [dbo].[Main_AGENT_INFO_DA] c		
					ON a.[Servicing Agent] = c.[Agent_Number]

 

