/****** Script for SelectTopNRows command from SSMS  ******/

SELECT MONTH([Collected Date]) as '2020', COUNT(*) as 'COUNT'
  FROM [PowerBI].[DPO].[view_Detail_2020]
  GROUP BY MONTH([Collected Date])
  ORDER BY MONTH([Collected Date])

SELECT * FROM [DPO].[view_Detail_2020]
WHERE MONTH([Collected Date]) = 12




--------
/****** Script for SelectTopNRows command from SSMS  ******/
SELECT *
  FROM [dbo].[DP_TDAILYSALES_DA]
  WHERE [Policy_Number] = '80072349' 

SELECT *
  FROM [dbo].[DP_TAGENTPREMIUM_TEST]
  WHERE [Policy No] = '80072349' 

SELECT *
  FROM [DPO].[view_DP_TAGENTPREMIUM_TEST_AFYP]
  WHERE [Policy No] = '80072349' 
  
  
  ------
  
  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT *,
	cast(cast(([TRANSACTION_DATE] - [EFFECTIVE_DATE]) as float) as int)
	
  FROM [PowerBI].[dbo].[DP_POSubmitDA]
  WHERE [CONTRACT_STATUS] ='PS'

  SELECT * FROM [dbo].[DP_TAGENTPREMIUM_TEST]
  WHERE [Policy No] = '80073213'

    SELECT * FROM [DPO].[view_DP_TAGENTPREMIUM_TEST_AFYP]
  WHERE [Policy No] = '80073213'

SELECT COUNT(*) AS DP_TAGENTPREMIUM_TEST FROM [dbo].[DP_TAGENTPREMIUM_TEST]
SELECT COUNT(*) AS DP_TDAILYSALES_DA FROM [dbo].[DP_TDAILYSALES_DA]
SELECT COUNT(*) AS DP_POSubmitDA FROM [dbo].[DP_POSubmitDA]

